.centr{
	width: 960px;
	border: 1px dashed;
	margin: 0 auto;
	height: 100%;
}
.centr::after{
	content:"";
	display:table;
	clear:both;
}
header{
	height: 80px;
	border: 1px solid;
	margin-bottom: 10px;
}

.cont{
	min-height: 450px;
	border: 1px solid;
	margin-bottom: 10px;
}

footer{
	height: 80px;
	border: 1px solid;
}
.main{
	height: 100px;
	border: 1px dashed;
	margin-bottom: 10px;
}
.left{
	float: left;
	width: 200px;
	border: 1px dashed;
	height: 250px;
}
.right{
	float: right;
	width:600px;
	border: 1px dashed;
	height: 350px;
}